CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:attributeGroup name="AtributosServidor">
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="srv-[a-z]+-\d{2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="rack" type="xs:string" use="required"/>
        <xs:attribute name="estado" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="activo"/>
                    <xs:enumeration value="mantenimiento"/>
                    <xs:enumeration value="apagado"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    
    <xs:group name="ComponentesHardware">
        <xs:sequence>
            <xs:element name="cpu">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="nucleos" type="xs:integer"/>
                            <xs:attribute name="arquitectura" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ram">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:integer">
                            <xs:attribute name="unidad" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="gpu" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="modelo" type="xs:string"/>
                            <xs:attribute name="vram_gb" type="xs:integer"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="discos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="disco" maxOccurs="8" minOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="tipo" type="xs:string"/>
                                <xs:attribute name="capacidad_tb" type="xs:integer"/>
                                <xs:attribute name="principal" type="xs:boolean"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:group ref="ComponentesHardware"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="so">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="version" type="xs:string"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="servicios">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="servicio" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="puerto" type="xs:integer"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="red">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="ip_fija" type="xs:string"/>
                                                    <xs:element name="dhcp">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="si"/>
                                                                <xs:enumeration value="no"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="auditoria">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="fecha_revision" type="xs:date"/>
                                                    <xs:element name="tecnico" type="xs:string"/>
                                                    <xs:element name="nota" type="xs:string"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                    </xs:sequence>
                                    <xs:attributeGroup ref="AtributosServidor"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ubicacion" type="xs:string"/>
                        <xs:attribute name="zona" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string"/>
        </xs:complexType>
        
        <xs:unique name="UnicoID">
            <xs:selector xpath=".//servidor"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        
    </xs:element>
</xs:schema>