CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:attributeGroup name="datosGestion">
        <xs:attribute name="id" type="TipoIdServidor" use="required" />
        <xs:attribute name="estado" type="TipoEstado" use="required" />
        <xs:attribute name="ubicacion" type="xs:string" use="optional" />
    </xs:attributeGroup> 
    <!-- He creado un grupo llamado datosGestion ya que los elementos servidor y almacenamiento tienen los atributos id, estado y ubicacion -->
    
    <xs:group name="especificacionesTecnicas">
        <xs:sequence>
            <xs:element name="cpu">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="nucleos" type="xs:integer" use="required" />
                            <xs:attribute name="arquitectura" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ram">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:integer">
                            <!-- Usamos RegEx sencilla para forzar MB, GB o TB -->
                            <xs:attribute name="unidad" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="MB|GB|TB" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="almacenamiento" minOccurs="0" maxOccurs="4">
                <!-- He definido que un servidor tenga desde 0 hasta 4 unidades de almacenamiento es por eso que pongo como minimo 0 y como maximo 4-->
                <xs:complexType>
                    <xs:attributeGroup ref="datosGestion" />
                    <xs:attribute name="tipo" use="required" />
                    <xs:attribute name="capacidad_tb" type="xs:integer" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <!-- También he creado el grupo especificacionesTecnicas en el que dentro de este grupo, estan los tres elementos de hardware(cpu,ram y almacenamiento), hemos borrado los elementos de la parte de abajo y lo hemos copiado aqui para la agrupacion de estos.-->
    
    <!-- Validamos que el ID del servidor siga el patrón: srv-letras-numeros -->
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <!-- RegEx: Empieza por srv-, seguido de letras minúsculas, guion, y exactamente 2
                 dígitos -->
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Validamos que la zona geográfica siga el estándar: 2 letras - texto - número -->
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "eu-sur-1" o "us-east-2" -->
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Validamos que el Rack sea una letra mayúscula seguida de 1 o 2 números -->
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Validamos que la versión del SO sean números, opcionalmente separados por un punto -->
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "15", "9", "22.04" -->
            <xs:pattern value="\d+(\.\d+)*" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Validamos el estado mediante un patrón de enumeración (Pipeline de RegEx) -->
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="mac_address" type="xs:string" />
                                            <xs:element name="id_interno" type="xs:string" />
                                        </xs:choice>
                                        <!-- He utiliza choice ya que la actividad pide que el usuario eliga entre uno de los dos. -->
                                        
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:group ref="especificacionesTecnicas" />
                                                <!-- Dentro del grupo, estan los tres elementos agrupados.-->
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="notas_mantenimiento" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="fecha" type="xs:date" />
                                                    <xs:element name="autor" type="xs:string" />
                                                    <xs:element name="comentario" type="xs:string" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <!-- En este elemento, he utilizado el all para que el tecnico escriba la fecha, autor y comentario en el que vea oportuno en cada momento.-->
                                    </xs:sequence>
                                    <xs:attributeGroup ref="datosGestion" />
                                    <xs:attribute name="rack" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="nombre" type="xs:string" />
                        <xs:attribute name="zona" type="TipoZona" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" />
        </xs:complexType>
        <xs:unique name="UnicoServidorID">
            <xs:selector xpath=".//servidor" />
            <xs:field xpath="@id" />
        </xs:unique>
        <!-- He añadido un identificador unico para que el atributo id de servidores no pueda estar en mas de uno como si nombre indica ya que es unico.-->
    </xs:element>

</xs:schema>